@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
body
{
    background-color: #ada6dc66!important;
}


.bg-purpule
{
    background-color:#8459c7!important;
}

.top_bar
{
    background-color: #7a54b5!important;
    padding-left: 15px;
    padding-right: 15px;
    color: #c5c5c5;
    font-size: 14px;
    border-bottom: 1px solid gray;
    padding-bottom: 4px;
    padding-left:8px;
}

.top_bar a
{
    color: #c5c5c5;
    font-size: 14px;
}

.top_bar a:hover
{
    color: yellow;
    font-size: 14px;
}



.language
{
    text-align: right;
}

/*@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}*/

.navbar {
    position: relative;
    min-height: 50px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
}

.glyphicon-search{
    font-size: 20px;
   }
   .btn-default{
    background: #7a54b5;
    width: 50px;
    padding: 12.5px;
   }
   .form-control{
    padding: 25px;
    font-size: 20px;
       
   }

.most_selling
{
    margin-top: 10px;
    color: white;
}

.most_selling .well
{
     background-color:#8459c7!important;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}