
.navbar-expand-lg .navbar-nav .nav-link2{
    padding-right: 25px;
    padding-left: 25px;
}


.navbar-dark .navbar-nav .nav-link2 {
    color: rgba(255,255,255,.6);
}

.navbar-dark .navbar-nav a:hover {
    color: rgba(255,255,255,1.0);
}


.navbar-nav .nav-link2 {
    padding-right: 0;
    padding-left: 0;
}

.active a
{
    color: yellow!important;
    font-family: sans-serif;
    font-weight: 400;
}


.active 
{
    /*background-color: #956ad8;*/
    border-radius: 15px;
}

.active .sr-only
{
    height: 2px;
    background-color: aqua;
    width: auto;
}

.nav-link2 {
    display: block;
    padding: .5rem 1rem;
}

.nav-item a {
    color: #007bff;
    text-decoration: none;
   /* background-color: transparent;*/
    -webkit-text-decoration-skip: objects;
}

@media (max-width: 1000px) {
    .navbar-collapse.collapse:not(.in) {
        display: none !important;
    }
}

.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 75% !important;
}


